/* 
    Document   : cssAddCategory
    Created on : Jul 5, 2010, 10:18:56 AM
    Author     : rodrigo
    Description:
        Purpose of the stylesheet follows.
*/

.formulario{
    text-align: center;
}

